

            <!-- Closed Auctions Page -->
            <section id="catalog-section" class="spaced">

                <h1 class="item">Closed Auctions</h1>

                {{#if offerts}}
                {{#each offerts}}
                <ul class="catalog cards">
                    <li class="item">
                        <header class="pad-med">
                            <h2>{{title}}</h2>
                        </header>

                        <div class="align-center">

                            <img class="img-thumb" src="{{imageUrl}}">

                        </div>

                        <footer class="align-center pad-med">
                            <p>Closing price: <strong>${{price}}</strong></p>
                            from {{bidder.firstName}} {{bidder.lastName}}
                        </footer>
                    </li>
                </ul>
                  {{/each}}
                {{else}}
                <div class="item pad-large align-center">
                    <p>You haven't closed any auctions yet.</p>
                </div>
                {{/if}}

            </section>

       